
<div class="absolute width height">

	<div class="fixed width height-400">

		<div class="absolute width80 height80 center">


			<div class="absolute width text-right font-40">
				Methods with<br>Class
			</div>


			<div class="absolute width bottom0 text-right font-20">
				evolutionary algorithms
			</div>
		</div>

	</div>



	<div class="relative width height-1000 black-back top-400">

		<div class="absolute width80 height80 center white-back">

			<div class="absolute width80 height80 center">

				<div class="relative width-400 height-200 hcenter" (click)="go('feedback')">

					<div class="absolute width80 height80 center black-back rounded20 white font-30 pointer">

						<div class="absolute center">
							Feedback
						</div>
					</div>

				</div>



				<div class="relative width-400 height-200 hcenter" (click)="go('trash')">

					<div class="absolute width80 height80 center rounded20 black-back white font-30 pointer">
						<div class="absolute center">
							Trash
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>



</div>
